@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    width: 100wh;
    height: 100vh;
    font-family: "Work Sans", system-ui;
    font-optical-sizing: auto;
}
:root {
  --blue: #3eadf8;
  ---base-blue:#296ea4;
  --blue-light:#84dfff;

  --primary-color:#007bff;
  --text-color-primary:#002278;
  
  --dark:#212529;
  --white: #fffefe;
  --text-white:#fff;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    background-color: rgba(0,34,120,0.8);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 30;
}
.nav-items{
display: flex;
flex-direction: row;
column-gap: 2.1rem;
justify-content: center;
align-items: center;
}
.nav-items a{
    color: var(--text-white);
    font-size: 1rem;
    font-weight: 500;
}

.nav-btn{
    width: 200px;
    padding: 1.2rem 1.5rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    color: var(--text-color-primary);
    margin-left: 1em;
}
.nav-btn:hover{
    background-color: var(--blue); 
    color: var(--text-white);
    border: none;
}
/*  */
/* Hero Section */
.hero-section{

background: linear-gradient(90deg, rgba(0,34,120,0.8) 30%, rgba(0,34,120,0.7) 40%, rgba(0,123,255,0.2) 100%), url('../images/banner.png') ;
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.hero-content{
    display: flex;
    flex-direction: column;
     row-gap: 0.8rem;
    justify-content: center;
    padding-left: 10rem;
    height: 100%;
    color: var(--text-white);
}
.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
}
.hero-content h3{
    font-size: 3.6rem;
    font-weight: 300;
}
.hero-content p{
    font-size: 0.9rem;
}
.hero-content .hero-btn{
    background-color: transparent;
    border-radius: 0.2rem;
    border: 1px solid var(--text-white);
    color: var(--text-white);
    padding: 0.8rem 0.6rem;
    display: inline;
    width: 15%;
    font-size: 1rem;
    font-weight: 500;
    margin-top: .5rem;
}
.hero-btn:hover {
    background-color: var(--blue); 
    color: var(--text-white);
    border: none;
}
/* About Section */
.about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10rem;
    column-gap: 5rem;
}
.about-content{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: space-between;
}

.about-content h2{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.about-content span{
    font-size: 1.3rem;
    font-weight: 400; 
}
.about-content p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
   
}
ul{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.btn-about{
    width: 30%;
    background-color: var(--blue);
    padding: 1.3rem;
    border-radius: 0.2rem;
    color: #fff;
}
.img-container {
    position: relative;
}
.left{
    position: absolute;
    right: 5%;
    bottom:-2% ;
    left: -8%;
    z-index: -2;
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    background-color: #a5d9ec;
}
